.key {
    position: relative;
    cursor: pointer;
    filter: drop-shadow(0 5px black); 
}

.key--pressed {
    filter: none; 
    transform: translateY(5px);
}

.key__letter {
    position: absolute;
    top: 0%;
    left: 35%;
    font-size: 3rem;
}

.key--found {
    background-color: var(--color-correct);
}