.modal {
    position: absolute;
    top: 0;
    backdrop-filter: blur(5px);
    padding: 30px 50px;
    filter: drop-shadow(0 10px black); 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__container {
    position: absolute;
    top: 25%;
    width: 80%;
}

.modal__text {
    font-size: 2.5rem;
    text-align: center;
}